.signup_form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.signup_form input {
  border-radius: 15px;
  width: 100%;
  max-width: 300px;
  height: 25px;
}

.signup_form input::placeholder {
  font-size: 1.2rem;
  color: blue;
  text-align: center;
}

#signup-submit {
  width: 100%;
  max-width: 300px;
  height: 40px;
  background-color: blue;
  color: white;
  border-radius: 5px;
}

#login #login-here {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .signup_form {
    gap: 20px;
  }
  
  .signup_form input {
    width: 100%;
    max-width: 250px;
  }
  
  #signup-submit {
    max-width: 250px;
  }

  .signup_form input::placeholder {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .signup_form input {
    width: 100%;
    max-width: 200px;
  }

  #signup-submit {
    max-width: 200px;
  }

  .signup_form input::placeholder {
    font-size: 0.9rem;
  }
}
