.header-wrap {
  background-color: green;
  text-align: center;
  box-sizing: border-box;
  height: 30%;
  width: 100%;
}
.header-wrap img {
  height: 200px;
  width: 200px;
}
.cpms {
  position: relative;
  bottom: 60px;
}

.cpms h1 {
  color: #fff;
}
